@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Inter-Light.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('/fonts/Inter-Light.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('/fonts/Inter-Regular.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Inter-Medium.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('/fonts/Inter-Medium.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Inter-Bold.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('/fonts/Inter-Bold.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* TODO remove css vars references in this file */
:root {
  --blue-200: #355DAE;
  --blue-400: #4B83F5;
  --light-100: #E6EAF2;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --color-blue-100: #2A4A8A;
  --color-blue-200: #355DAE;
  --color-blue-300: #4070D1;
  --color-blue-400: #4B83F5;
  --color-dark-100: #1A1C21;
  --color-dark-200: #353942;
  --color-dark-300: #525866;
  --color-light-100: #E6EAF2;
  --color-light-200: #C2C5CC;
}

/* Headings */
.content-heading1,
.content-heading2 {
  @apply font-medium text-dark-100
}

.content-heading1 {
  @apply text-xl leading-8 md:text-3xl md:leading-14
}

.content-heading2 {
  @apply text-lg leading-8 md:text-2xl md:leading-12
}

p,
ul,
ol {
  max-width: 700px;
}

p {
  @apply mb-4 leading-8;
}

ul {
  margin: 0 0 24px 0;
}

ul li,
ol li {
  line-height: 28px;
}

.link {
  @apply border-b-2 border-blue-300 hover:border-blue-100 active:border-blue-100;
}

.greylink {
  @apply block cursor-pointer hover:text-white active:text-white;
}

/* responsive content*/
.responsive {
  @apply max-w-7xl mx-auto my-0 px-8;
}

/* grid */
.general-grid {
  @apply grid grid-cols-1 md:grid-cols-2 gap-8 mb-24
}

.background {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-grow: 1;
    z-index: -1;
    background: var(--light-100);
}

.background div {
    position: absolute;
    border-radius: 100%;
    height: 0;
    filter: blur(8vw);
    opacity: 0.2;
}

.background div:nth-child(1) {
    background: linear-gradient(132deg, var(--blue-400) 0.00%, #f5834d 100.00%);
    width: 80%;
    padding-top: 80%;
    left: 64%;
    top: 52%;
    transform: translateX(-50%) translateY(-50%);
}

