/* lato-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/lato-v23-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/fonts/lato-v23-latin-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lora-v32-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/fonts/lora-v32-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/lora-v32-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/fonts/lora-v32-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
	--font-sans: "Lato", sans-serif;
	--font-serif: "Lora", serif;
  --content-padding: 30px;
	--dark: #212121;
	--light: #666666;
  --blue: #355DAE;
  --light-blue: #E6ECF2;
  --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --radius: 8px;
  /* Font sizes */
  --size-h1: 96px;
  --size-h2: 60px;
  --size-h3: 48px;
  --size-h4: 34px;
  --size-h5: 24px;
  --size-h6: 20px;
  --size-sub1: 16px;
  --size-sub2: 14px;
}

body {
	font-family: var(--font-sans);
  color: var(--dark);
  margin: 0;
  background: var(--light-blue);
}

#app {
  display: grid;
  grid-template-rows: 64px 1fr auto;
  height: 100%;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-serif);
  /* color: red; */
  font-weight: 400;
}

h1 {
  font-size: var(--size-h1);
	margin: 112px 0 48px 0;
}

h2 {
  font-size: var(--size-h2);
	margin: 72px 0 32px 0;
}

h3 {
  font-size: var(--size-h3);
	margin: 60px 0 24px 0;
}

h4 {
  font-size: var(--size-h4);
	margin: 40px 0 16px 0;
}

h5, .h5sans {
  font-size: var(--size-h5);
	margin: 32px 0 12px 0;
}

h6, .h6sans {
  font-size: var(--size-h6);
	margin: 24px 0 8px 0;
}

.h5sans, .h6sans, .subtitle1, .subtitle2, .body1, .body2 {
	font-family: var(--font-sans);
}

.subtitle1 {
  font-size: var(--size-sub1);
  text-transform: uppercase;
  color: var(--light);
}

.subtitle2 {
  font-size: var(--size-sub2);
  text-transform: uppercase;
  color: var(--light);
}

.body1 {
  font-size: var(--size-sub1);
}

.body2 {
  font-size: var(--size-sub2);
}

.body1 p {
  margin: 0 0 24px 0;
  line-height: 32px;
}

.body2 p {
  margin: 6px 0;
  line-height: 24px;
}


/* General classes */
a {
  text-decoration: none;
  color: var(--dark);
}

p, ul, ol {
  max-width: 700px;
}

p {
  line-height: 28px;
}

ul {
  margin: 0 0 24px 0;
}

ul li, ol li {
  line-height: 28px;
}

/* custom classes */
.link {
  border-bottom: 2px solid rgba(53, 93, 174, 0.5);
}

.link:hover {
  border-bottom: 2px solid var(--blue);
}

/* responsive content*/
.responsive {
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
  max-width: 1200px;
  margin: 0 auto;
}
